{% extends 'base.html' %}
{% include 'navbar.html' %}
{% from "_formhelpers.html" import render_field %}


{% block head %}
<!-- Header block -->
<style>
    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .bold {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row ml-2 mr-2">
        <div class="col-sm-6 rounded-lg pt-3 p-3">
            <div class="card text-white bg-dark mb-3 my-3 mx-3">
                <div class="question-form">
                    <h2 style="color:rgb(255, 255, 255)">Feedback Questions</h2>
                    <div class="current_questions">
                        <form method="POST">
                            {{form.hidden_tag()}}

                            <!-- Render all questions present in form alongside their respective textfields -->
                            {% for questions in form.feedback_questions %}
                            {{ questions.hidden_tag() }}
                            {# Flask-WTF needs `hidden_tag()` so CSRF works for each form #}
                            {{ render_field(questions.question, class='form-control') }}
                            {% endfor %}

                            <!-- Render mood_type field from form and submit button-->
                            {{ render_field(form.mood_type, class='lass="form-check-input"', placeholder='Mood') }}
                            {{ render_field(form.checkbox, class='btn btn-success bold')}}
                            {{ render_field(form.submit, class='btn btn-success bold')}}   
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 rounded-lg pt-3 p-3"">
            <div class="card text-white bg-dark mb-3 my-3 mx-3">
                <div class="users">
                    <!-- Display all users present in session -->
                    <h2 style="color:rgb(255, 255, 255)">Users in session</h2>
                    {% if user_host %}
                    <li style="color:rgb(255, 255, 255)">{{user_host.username}} (Host)</li>
                    {% endif %}
                    {% if users_in_session %}
                    {% for users in users_in_session %}
                    <li style="color:rgb(255, 255, 255)">{{users.username}}</li>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}