
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<h1>This is the Login page</h1> 
{% endblock %}

{% block body %}
<!-- <p>Change this later, this is very basic html code</p> -->
<body>
<div class="login-form">
    <form method = "POST" action="/login">
        <div class="form-group">
            {{form.hidden_tag()}}
            {{form.username.label}}
            {{form.username}}<br>
            {{form.password.label}}
            {{form.password}}<br>
            {{form.submit}}
        </div>
    </form>
</div>
</body>
{% endblock %}