{% extends 'base.html' %}
{% include 'navbar.html' %}
{% from "_formhelpers.html" import render_field %}

{% block head %}
<!-- <h1>This is the Login page</h1>  -->
{% endblock %}

{% block body %}
<!-- <p>Change this later, this is very basic html code</p> -->


<body>
    <div class="container">
<div class="login-form">
    <form method = "POST" action="/login">
        <div class="form-group">
            {{form.hidden_tag()}}
            {{ render_field(form.username, class='form-control', placeholder='Username') }}
            {{ render_field(form.password, class='form-control', placeholder='Password') }}
            {{ render_field(form.submit, class='btn btn-success', placeholder='Password') }}
        </div>
    </form>
</div>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p style="color:rgb(255, 0, 255)">{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</body>
{% endblock %}