{% extends 'base.html' %}
{% include 'navbar.html' %}
{% from "_formhelpers.html" import render_field %}

{% block head %}
{% endblock %}

{% block body %}
<!--! <p>Change this later, this is very basic html code</p> -->
<div class="container">
<div class="login-form">
    <form method = "POST">
        {{form.hidden_tag()}}
        {{ render_field(form.username, class='form-control', placeholder='Username') }}
        {{ render_field(form.password, class='form-control', placeholder='Password') }}
        {{ render_field(form.confirm_password, class='form-control', placeholder='Confirm Password') }}
        {{ render_field(form.submit, class='btn btn-success')}}
    </form>
</div>
</div>
{% endblock %}