{% extends 'base.html' %}
{% include 'navbar.html' %}
{% from "_formhelpers.html" import render_field %}

{% block head %}
<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .bold{
        font-weight: bold;
    }

</style>
{% endblock %}

{% block body %}
<div class ="container rounded center" style="background-color:#212B4E; padding: 10px;">
        <form method = "POST">
            <div class="col text-center">
            {{form.hidden_tag()}}
            <!-- Render submit_code field and submt button -->
            <h5>{{form.session_code.label}}</h5>
            {{ render_field(form.session_code, class='form-control ', placeholder='Session Code') }}<br>
            {{ render_field(form.submit, class='btn-success btn-lg bold') }}  
            </div>
        </form>
    </div>    

{% endblock %}