{% extends 'base.html' %}
{% include 'navbar.html' %}
{% from "_formhelpers.html" import render_field %}

{% block head %}

{% endblock %}

{% block body %}

<body>
    <div class="container">
        <div class="center">
            <form method="POST">
                {{form.hidden_tag()}}
                {{ render_field(form.session_name, class='form-control', placeholder='Session Name') }}
                {{ render_field(form.session_type, class='form-control', placeholder='Session Type') }}
                {{ render_field(form.session_start, class='form-control', placeholder='Session Start, Example 01-01-1991') }}
                {{ render_field(form.session_end, class='form-control', placeholder='Session End, Example 01-01-1992') }}
                {{ render_field(form.submit, class='btn btn-success', placeholder='Password') }}
            </form>
        </div>
    </div>
</body>
{% endblock %}