{% extends 'base.html' %}
{% include 'navbar.html' %}
{% from "_formhelpers.html" import render_field %}

{% block head %}
{% endblock %}

{% block body %}

<body>
    <div class="container">
        <div class="login-form">
            <form method="POST">
                {{form.hidden_tag()}}
                {{ render_field(form.session_name, class='form-control', placeholder='Session Name') }}
                {{ render_field(form.session_type, class='form-control', placeholder='Session Type') }}
                {{ render_field(form.session_start, class='form-control', placeholder='Session Start') }}
                {{ render_field(form.session_end, class='form-control', placeholder='Session End') }}
                {{ render_field(form.submit, class='btn btn-success', placeholder='Password') }}
            </form>
        </div>
    </div>
</body>
{% endblock %}