{% extends 'base.html' %}

{% block head %}
<h1>This is the Session Creation page</h1> 
{% endblock %}

{% block body %}
<!-- <p>Change this later, this is very basic html code</p> -->
<div class="login-form">
    <form method = "POST" action="host">
        {{form.hidden_tag()}}
        {{form.session_name.label}}
        {{form.session_name}}<br>
        {{form.session_type.label}}
        {{form.session_type}}<br>
        {{form.session_start.label}}
        {{form.session_start}}<br>
        {{form.session_end.label}}
        {{form.session_end}}<br>
        {{form.submit}}
    </form>
</div>
{% endblock %}