{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block head %}
<!-- <h1>This is the User homepage</h1> -->
<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .bold {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p style="color:rgb(255, 0, 255)">{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container-fluid center">
    <div class="card text-white bg-dark mb-3">
        <h1 style="color:rgb(255, 255, 255)">Events Hosting</h1>
        {% if events_host_user %}

        <table class="table">
            <thead class="thead-dark" style="color:rgb(255, 255, 255)">
                <tr>
                    <th>Event Name</th>
                    <th>Event Type</th>
                    <th>Join Event</th>
                </tr>
            </thead>
            <tbody style="color:rgb(255, 255, 255)">
                {% for events_hosted in events_host_user %}
                <tr>
                    <td>{{ events_hosted.event_desc }}</td>
                    <td>{{ events_hosted.event_type }}</td>
                    <td> <a href="{{ url_for('host', id=events_hosted.event_id) }}"><button type="button" class="btn btn-light ">Join Session</button></a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div style="color:rgb(255, 255, 255)">No events!</div>
        {% endif %}
    </div>
    <div class="card text-white bg-dark mb-3">
        <h1 style="color:rgb(255, 255, 255)">Events Attending</h1>
        {% if events_attendee_user %}
        <table class="table">
            <thead class="thead-dark" style="color:rgb(255, 255, 255)">
                <tr>
                    <th>Event Name</th>
                    <th>Event Type</th>
                    <th>Join Event</th>
                </tr>
            </thead>
            <tbody style="color:rgb(255, 255, 255)">
                {% for events_attending in events_attendee_user %}
                <tr>
                    <td>{{ events_attending.event_desc }}</td>
                    <td>{{ events_attending.event_type }}</td>
                    <td> <a href="{{ url_for('attendee', id=events_attending.event_id) }}"><button type="button" class="btn btn-light ">Join Session</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div>No events!</div>
        {% endif %}
    </div>
</div>


{% endblock %}